# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [22]:
# Set the file path to import the WeatherPy_database.csv file
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Load the CSV file into a Pandas DataFrame
city_data_df


# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hithadhoo,MV,-0.6000,73.0833,80.85,71,100,7.20,overcast clouds,2022-10-17 23:15:13
1,1,Hobart,AU,-42.8794,147.3294,58.26,69,75,5.75,broken clouds,2022-10-17 23:14:55
2,2,Saint-Philippe,RE,-21.3585,55.7679,65.79,80,37,7.99,scattered clouds,2022-10-17 23:15:13
3,3,Port Alfred,ZA,-33.5906,26.8910,61.18,93,48,1.01,scattered clouds,2022-10-17 23:15:13
4,4,Chokurdakh,RU,70.6333,147.9167,14.54,96,99,7.63,overcast clouds,2022-10-17 23:15:14

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [25]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                           
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hithadhoo,MV,-0.6000,73.0833,80.85,71,100,7.20,overcast clouds,2022-10-17 23:15:13
2,2,Saint-Philippe,RE,-21.3585,55.7679,65.79,80,37,7.99,scattered clouds,2022-10-17 23:15:13
3,3,Port Alfred,ZA,-33.5906,26.8910,61.18,93,48,1.01,scattered clouds,2022-10-17 23:15:13
5,5,Cabedelo,BR,-6.9811,-34.8339,77.67,78,78,14.09,broken clouds,2022-10-17 23:15:14
7,7,Vila Franca Do Campo,PT,37.7167,-25.4333,61.21,73,85,18.41,light rain,2022-10-17 23:15:15
13,13,Cape Town,ZA,-33.9258,18.4232,64.90,78,82,8.99,broken clouds,2022-10-17 23:13:31
15,15,Shingu,JP,33.7333,135.9833,65.30,84,98,6.06,overcast clouds,2022-10-17 23:07:09
18,18,Turan,VN,16.0678,108.2208,80.58,57,75,2.30,broken clouds,2022-10-17 23:15:19
19,19,Rikitea,PF,-23.1203,-134.9692,68.67,66,27,17.81,scattered clouds,2022-10-17 23:15:19
20,20,Port Lincoln,AU,-34.7333,135.8667,60.08,81,100,12.86,overcast clouds,2022-10-17 23:11:17

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hithadhoo,MV,-0.6000,73.0833,80.85,71,100,7.20,overcast clouds,2022-10-17 23:15:13
2,2,Saint-Philippe,RE,-21.3585,55.7679,65.79,80,37,7.99,scattered clouds,2022-10-17 23:15:13
3,3,Port Alfred,ZA,-33.5906,26.8910,61.18,93,48,1.01,scattered clouds,2022-10-17 23:15:13
5,5,Cabedelo,BR,-6.9811,-34.8339,77.67,78,78,14.09,broken clouds,2022-10-17 23:15:14
7,7,Vila Franca Do Campo,PT,37.7167,-25.4333,61.21,73,85,18.41,light rain,2022-10-17 23:15:15

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [55]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
0,Hithadhoo,MV,80.85,overcast clouds,-0.6000,73.0833
2,Saint-Philippe,RE,65.79,scattered clouds,-21.3585,55.7679
3,Port Alfred,ZA,61.18,scattered clouds,-33.5906,26.8910
5,Cabedelo,BR,77.67,broken clouds,-6.9811,-34.8339
7,Vila Franca Do Campo,PT,61.21,light rain,37.7167,-25.4333
13,Cape Town,ZA,64.90,broken clouds,-33.9258,18.4232
15,Shingu,JP,65.30,overcast clouds,33.7333,135.9833
18,Turan,VN,80.58,broken clouds,16.0678,108.2208
19,Rikitea,PF,68.67,scattered clouds,-23.1203,-134.9692
20,Port Lincoln,AU,60.08,overcast clouds,-34.7333,135.8667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [56]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame

hotel_df["Hotel name"] = ""
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel name
0,Hithadhoo,MV,80.85,overcast clouds,-0.6000,73.0833,
2,Saint-Philippe,RE,65.79,scattered clouds,-21.3585,55.7679,
3,Port Alfred,ZA,61.18,scattered clouds,-33.5906,26.8910,
5,Cabedelo,BR,77.67,broken clouds,-6.9811,-34.8339,
7,Vila Franca Do Campo,PT,61.21,light rain,37.7167,-25.4333,
13,Cape Town,ZA,64.90,broken clouds,-33.9258,18.4232,
15,Shingu,JP,65.30,overcast clouds,33.7333,135.9833,
18,Turan,VN,80.58,broken clouds,16.0678,108.2208,
19,Rikitea,PF,68.67,scattered clouds,-23.1203,-134.9692,
20,Port Lincoln,AU,60.08,overcast clouds,-34.7333,135.8667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [57]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [64]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel name,Hotel Name
0,Hithadhoo,MV,80.85,overcast clouds,-0.6000,73.0833,,Scoop Guest House
2,Saint-Philippe,RE,65.79,scattered clouds,-21.3585,55.7679,,Le four à pain
3,Port Alfred,ZA,61.18,scattered clouds,-33.5906,26.8910,,The Halyards Hotel & Spa
5,Cabedelo,BR,77.67,broken clouds,-6.9811,-34.8339,,Pousada Camboinha
7,Vila Franca Do Campo,PT,61.21,light rain,37.7167,-25.4333,,Pestana Bahia Praia
13,Cape Town,ZA,64.90,broken clouds,-33.9258,18.4232,,"Radisson Blu Hotel Waterfront, Cape Town"
15,Shingu,JP,65.30,overcast clouds,33.7333,135.9833,,Shingu UI Hotel
18,Turan,VN,80.58,broken clouds,16.0678,108.2208,,Grand Mercure Danang
19,Rikitea,PF,68.67,scattered clouds,-23.1203,-134.9692,,People ThankYou
20,Port Lincoln,AU,60.08,overcast clouds,-34.7333,135.8667,,Port Lincoln Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [72]:
# Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel name,Hotel Name
0,Hithadhoo,MV,80.85,overcast clouds,-0.6000,73.0833,,Scoop Guest House
2,Saint-Philippe,RE,65.79,scattered clouds,-21.3585,55.7679,,Le four à pain
3,Port Alfred,ZA,61.18,scattered clouds,-33.5906,26.8910,,The Halyards Hotel & Spa
5,Cabedelo,BR,77.67,broken clouds,-6.9811,-34.8339,,Pousada Camboinha
7,Vila Franca Do Campo,PT,61.21,light rain,37.7167,-25.4333,,Pestana Bahia Praia

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [73]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [74]:
# Set the file name.
output_data_file = ('WeatherPy_vacation.csv')

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [75]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the 
list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [76]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 65.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 61.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Camboinha</dd>\n<dt>City</dt><dd>Cabedelo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pestana Bahia Praia</dd>\n<dt>City</dt><dd>Vila Franca Do Campo</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>light rain and 61.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 64.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shingu UI Hotel</dd>\n<dt>City</dt><dd>Shingu</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 65.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Mercure Danang</dd>\n<dt>City</dt><dd>Turan</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Port Lincoln Hotel</dd>\n<dt>City</dt><dd>Port Lincoln</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 60.08 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [77]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -0.6000   73.0833
2  -21.3585   55.7679
3  -33.5906   26.8910
5   -6.9811  -34.8339
7   37.7167  -25.4333
13 -33.9258   18.4232
15  33.7333  135.9833
18  16.0678  108.2208
19 -23.1203 -134.9692
20 -34.7333  135.8667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [89]:
# Add a marker layer for each city to the map. 
current_description = clean_hotel_df["Current Description"]
max_temp = clean_hotel_df["Max Temp"]


# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))